.main {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  box-sizing: border-box;
}

.main * {
  box-sizing: border-box;
}
